<h3>Admins</h3>
@if (User.Identity!.IsAuthenticated)
{
    <p>
       Admin <strong>@User.Identity!.Name</strong>
    </p>
    
    <a asp-controller="Account" asp-action="Logout">Sign out</a>
}
else
{
    <p>Du är inte inloggad...</p>
}