<h3>Admins</h3>
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Welcome <strong>@User.Identity!.Name</strong>!
    </p>
    <a asp-controller="Clocks" asp-action="Index">Watch</a>
    <a asp-controller="Account" asp-action="Logout">Sign out</a>
}
else
{
    <p>Du är inte inloggad...</p>
}