@model MembersVM
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Member <strong>@User.Identity!.Name</strong>!
    </p>
    <p> Count: <strong>@Model.ClocksItems.Length</strong></p>
    <ol>
        @foreach (var item in Model.ClocksItems)
        {
            <li>@item.Brand</li>
        }
    </ol>
    
    <a asp-controller="Account" asp-action="Logout">Sign out</a>

}
else
{
    <p>Du är inte inloggad...</p>
}
