@model DetailsVM
@{
    ViewBag.Title = "Klockor Details";
}

<h4>Brand: <i>@Model.Brand</i></h4>
<h4>Model: <i>@Model.Model</i></h4>
<h4>Price: <i>@Model.Price</i></h4>
<h4>Year: <i>@Model.Year</i></h4>
