@model IndexVM
@{
    ViewBag.Title = "Klockor";
}
<h2>Companies</h2>
    Count: <strong>@Model.ClocksItems.Length</strong>
<ol>
    @foreach (var item in Model.ClocksItems)
    {
        <li>@item.Brand</li>
    }
</ol>
